body {
  background: rgba(246, 229, 252, 0.388);
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #9670f4;
  display: inline-block;
  margin: 5px 0 0;
}

.App {
  padding: 60px 0 100px;
  max-width: 60%;
  margin: 0 auto;
}

.App header {
  color: #8252fd;
  padding: 0 0 20px;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
}

.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}