.Dictionary {
  max-width: 50%;
  margin: 0 auto;
}

.Dictionary p {
  margin: 0;
}

.Dictionary section {
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  border-radius: 8px;
  background: #fff;
  margin: 25px 0;
  padding: 40px;
}

.Dictionary label {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
}

.Dictionary .search-input {
  display: block;
  height: 64px;
  color: #666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

.Dictionary .hint {
  margin-top: 15px;
  display: block;
}

.Dictionary .example {
  margin-top: 10px;
}